.edit{
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.title{
    background-color: white;
    padding: 10px 20px;
    padding-bottom: 13px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.5);
}
