
.create-form{
    width: 900px;
    padding: 20px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.image-input{
    display: none
}

h4{
    margin-top: 20px;
}

.boton{
    border: 0.1px solid gray;
    background-color: white;
    color: rgb(2, 126, 126);
    padding: 5px 9px;
    border-radius: 50%;
}

.boton:hover{
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
}

.image-cont img{
    height: 50px;
    width: fit-content;
    border-radius: 10px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
    object-fit: cover;
    float: right;
}

.titulo{
    height: 100px;
}

.desc{
    height: 300px;
}